




# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
users.htpasswd
/typings
**/*DONOT_SAVE*.*
/gm4cappmod-app.env

# System Files
.DS_Store
Thumbs.db
bin
FSARCH_Lab3_Cloud_Friendly_App.drawio
